version: "3.9"

services:

  frontend:
    image: nginx:latest
    volumes:
      - ./frontend/home.html:/usr/share/nginx/html/home.html
      - ./frontend/styles/:/usr/share/nginx/html/styles/
      - ./frontend/dist/:/usr/share/nginx/html/dist/
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80

  backend:
    image: python:3.11
    volumes:
      - ./backend/requirements.txt:/code/requirements.txt
      - ./backend/setup.py:/code/setup.py
      - ./backend/salary_calc_fastapi:/code/salary_calc_fastapi
    ports:
      - 5000:5000
    command: >
      bash -c 
      "pip install -r code/requirements.txt
      && pip install code/.
      && cd code/salary_calc_fastapi
      && uvicorn app:app --host 0.0.0.0 --port 5000 --reload"
