version: "3.9"

services:
  frontend:
    image: python:3.11
    volumes:
      - ./backend/requirements.txt:/code/requirements.txt
      - ./backend/setup.py:/code/setup.py
      - ./backend/salary_calc_fastapi:/code/salary_calc_fastapi
    ports:
      - 80:80
    command: >
      bash -c 
      "pip install -r code/requirements.txt
      && pip install code/.
      && cd code/salary_calc_fastapi
      && uvicorn app:app --host 0.0.0.0 --port 80 --reload"
